<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Tržište Novca</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/custom")
        @Scripts.Render("/bundles/globalize")

    </head>
    <body>
        <header>
            @Html.ActionLink("Trgovanje", "TrgovanjeGlavaList", "BackOffice")
            @Html.ActionLink("Repo aukcije", "RepoAukcijaList", "BackOffice")
            @Html.ActionLink("Sudionici", "SudionikList", "BackOffice")
            @Html.ActionLink("Aukcija trezorskih zapisa", "AukcijaTrezorskihZapisa", "BackOffice")
            @Html.ActionLink("Trgovanje HNB", "TrgovanjeGlavaHnbList", "BackOffice")
            @if (User.IsInRole("Admin"))
            { 
                @Html.ActionLink("HTML pages", "HtmlPageList", "Admin")
            }
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section>
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; MCS</p>
                </div>
            </div>
        </footer>
    </body>
</html>
