@model NinjaSoftware.TrzisteNovca.Models.BackOffice.SudionikPager
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.Common

@{
    String title = "Lista sudionika";
    ViewBag.Title = title;
}

<h2>@title</h2>

<p>
    @Html.ActionLink("Kreiraj novog sudionika", "SudionikEdit")
</p>
<table>
    <tr>
        <th>
            Naziv
        </th>
        <th>
            Web adresa
        </th>
        <th></th>
    </tr>

@foreach (SudionikEntity item in Model.DataSource) {
    <tr>
        <td>
            @item.Naziv
        </td>
        <td>
            @item.WebAdresa
        </td>
        <td>
            @Html.ActionLink("Edit", "SudionikEdit", new { sudionikId = item.SudionikId }) |
            @Html.ActionLink("Delete", "SudionikDelete", 
                new { sudionikId = item.SudionikId }, 
                new { onclick = "return confirm('Jeste li sigurni da želite obrisati trgovanje?');" })
        </td>
    </tr>
}
    <tr>
        <td colspan="3" style="text-align: center;">
            @Model.GenerateDropDownPagingAndPrevNextHtmlElements(Config.PagerPrefixText())
        </td>
    </tr>
</table>
