@model NinjaSoftware.TrzisteNovca.Models.BackOffice.TrgovanjeHnbViewModel
@using Newtonsoft.Json

@Scripts.Render("/bundles/knockout")

@{
    string title;
    
    if (Model.TrgovanjeGlavaHnb.IsNew)
    {
        title = "Unos novog trgovanja";
    }
    else
    {
        title = string.Format("Uređivanje trgovanja za datum {0}", Model.TrgovanjeGlavaHnb.Datum.ToShortDateString());
    }
    
    ViewBag.Title = title;
}

<h2>@title</h2>

<form id="FormTrgovanje" action="/someServerSideHandler">
    <input type="submit" value="Pohrani" />
    <button onclick="viewModel.dohvatiTrgovanjeStavkaHnbCollection(); return false;">Dohvati podatke</button>

    <div data-bind="template: { name: 'TrgovanjeGlavaHnbTemplate', data: trgovanjeGlavaHnb }"></div>

    <script type="text/html" id="TrgovanjeGlavaHnbTemplate">
        <table>
@if (Model.TrgovanjeGlavaHnb.IsNew)
{
            <tr>
                <td>Datum:</td>
                <td>
                    <input id="InputDatum" class="requred date" data-bind="value: Datum" />
                </td>
            </tr>
}
    </script>
    
    <h3>Rokovi</h3>

    <table>
        <tr>
            <td>
                <select id="dropDownTrgovanjeVrsta" data-bind="options: $root.trgovanjeVrstaCollection, value: $root.selectedTrgovanjeVrsta, optionsText: 'Name'"></select>
            </td>
            <td>
                <input type="button" value="Unesi" onclick="viewModel.addTrgovanjeStavkaHnb();" />
            </td>
        </tr>
    </table>

    <table id="tableStavke">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Iznos</th>
                <th>KamatnaStopa</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: trgovanjeStavkaHnbCollection">
            <tr>
                <td data-bind="text: TrgovanjeVrsta.Name"></td>
                <td>
                    <input class="required number numberCss" data-bind="value: IznosMilijuniKn, uniqueName: true" />
                </td>
                <td>
                    <input class="required number numberCss" data-bind="value: KamatnaStopa, uniqueName: true" />
                </td>
                <td>
                    <a href="#" data-bind="click: function(data) { $root.deleteTrgovanjeStavkaHnb(data); }"><span>Obriši</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<script type="text/javascript">
    Globalize.culture("hr");
    
    $(document).ready(function () {
        $("#InputDatum").datepicker();
    });

    var trgovanjeHnbViewModel = function () {
        var self = {};

        // data sources
        self.trgovanjeGlavaHnb = ko.observable(@Html.Raw(JsonConvert.SerializeObject(Model.TrgovanjeGlavaHnb)));
        self.trgovanjeStavkaHnbCollection = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model.TrgovanjeStavkaHnbCollection)));
        self.trgovanjeVrstaCollection = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model.TrgovanjeVrstaCollection)));
        self.selectedTrgovanjeVrsta = ko.observable();

        // hr data formating
        var date = new Date(self.trgovanjeGlavaHnb().Datum);
        self.trgovanjeGlavaHnb().Datum = Globalize.format(date, "d");

        $(self.trgovanjeStavkaHnbCollection()).each(function () {
            var tmp = parseFloat(this.IznosMilijuniKn.toString());
            this.IznosMilijuniKn = Globalize.format(tmp, "n2");

            tmp = parseFloat(this.KamatnaStopa.toString());
            this.KamatnaStopa = Globalize.format(tmp, "n2");
        });

        // functions
        self.addTrgovanjeStavkaHnb = function() {
            var stavkaExist = false;
            $(self.trgovanjeStavkaHnbCollection()).each(function () {
                if (this.TrgovanjeVrstaId === self.selectedTrgovanjeVrsta().TrgovanjeVrstaId) {
                    stavkaExist = true;
                }
            });

            if (stavkaExist) {
                alert("Trgovanje '" + self.selectedTrgovanjeVrsta().Name + "' je ranije uneseno.");
            }
            else {
                var trgovanjeStavkaHnb = TrgovanjeStavkaHnb({
                    TrgovanjeVrstaId: self.selectedTrgovanjeVrsta().TrgovanjeVrstaId,
                    IznosMilijuniKn: 0,
                    KamatnaStopa: 0,
                });

                trgovanjeStavkaHnb.TrgovanjeVrsta = { "Name": self.selectedTrgovanjeVrsta().Name };

                self.trgovanjeStavkaHnbCollection.push(trgovanjeStavkaHnb);    
            }
        };

        self.save = function() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("TrgovanjeHnbSave")",
                data: {
                    trgovanjeGlavaHnbId: @Model.TrgovanjeGlavaHnb.TrgovanjeGlavaHnbId,
                    trgovanjeGlavaHnbJson: ko.toJSON(self.trgovanjeGlavaHnb),
                    trgovanjeStavkaHnbCollectionJson: ko.toJSON(self.trgovanjeStavkaHnbCollection)
                },
                success: function (result) {
                    if (result.Error) {
                        alert(result.Error);
                    }
                    else if (result.Url) {
                        window.location.href = result.Url;
                    }
                    else {
                        alert("Greška kod odgovora servisa za pohranu podataka.");
                    }
                },
                error: function () {
                    alert("Desila se greška prilikom pohranjivanja podataka.");
                },
                async: false,
                cache: false
            });
        };

        self.dohvatiTrgovanjeStavkaHnbCollection = function() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("DohvatiTrgovanjeHnb")",
                success: function (result) {
                    self.trgovanjeStavkaHnbCollection.removeAll();

                    $(result).each(function () {
                        var date = new Date(this.TrgovanjeGlavaHnb.Datum);
                        self.trgovanjeGlavaHnb().Datum = Globalize.format(date, "d");

                        this.IznosMilijuniKn = Globalize.format(this.IznosMilijuniKn, "n2");
                        this.KamatnaStopa = Globalize.format(this.KamatnaStopa, "n2");

                        self.trgovanjeStavkaHnbCollection.push(this);
                    });

                    self.trgovanjeGlavaHnb.valueHasMutated();
                },
                error: function () {
                    alert("Desila se greška prilikom dohvata podataka.");
                },
                async: false,
                cache: false
            });
        };

        self.deleteTrgovanjeStavkaHnb = function (trgovanjeStavkaHnb) {
            self.trgovanjeStavkaHnbCollection.remove(trgovanjeStavkaHnb);
        };

        return self;
    };

    var viewModel = trgovanjeHnbViewModel();
    ko.applyBindings(viewModel);
    $("#FormTrgovanje").validate({ submitHandler: viewModel.save });
</script>