@model NinjaSoftware.TrzisteNovca.Models.BackOffice.TrgovanjeGlavaHnbPager
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.Common
@{
    string title = "Pregled trgovanja";
    ViewBag.Title = title;
}

<h2>@title</h2>

<p>
    @Html.ActionLink("Kreiraj trgovanje", "TrgovanjeHnbEdit")
</p>

<table>
    <tr>
        <th>
            Datum
        </th>
        <th></th>
    </tr>

@foreach (TrgovanjeGlavaHnbEntity trgovanjeGlavaHnb in Model.DataSource)
{
    <tr>
        <td>
            @trgovanjeGlavaHnb.Datum.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Uredi", "TrgovanjeHnbEdit", new { trgovanjeGlavaHnbId = trgovanjeGlavaHnb.TrgovanjeGlavaHnbId }) |
            @Html.ActionLink("Obriši", "TrgovanjeHnbDelete", 
                new { trgovanjeGlavaId = trgovanjeGlavaHnb.TrgovanjeGlavaHnbId }, 
                new { onclick = "return confirm('Jeste li sigurni da želite obrisati trgovanje?');" })
        </td>
    </tr>
}
    <tr>
        <td colspan="3" style="text-align: center;">
            @Model.GenerateDropDownPagingAndPrevNextHtmlElements(Config.PagerPrefixText())
        </td>
    </tr>
</table>
