@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeGodinaViewModel
@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@using NinjaSoftware.TrzisteNovca.Models
@using System.Globalization

@{
    IEnumerable<ValutaEnum> valutaCollection = Model.TrgovanjeMjesecList.Where(tm => tm.Valuta != ValutaEnum.Kn).Select(tm => tm.Valuta).Distinct();

    CultureInfo hrCulture = new CultureInfo("hr");
}

<table class="default">
<thead>
    <tr>
        <th colspan="5">
            @string.Format("Pozajmice deviza u {0}. godini", Model.Godina)
        </th>
    </tr>
    <tr>
        <th>
            Mjesec
        </th>
        <th>
            Valuta
        </th>
        <th>
            Promet
        </th>
        <th>
            Kamatna stopa (%)
        </th>
        <th>valuta</th>
    </tr>
    </thead>
    <tbody>
@foreach (ValutaEnum valuta in valutaCollection)
{
    <tr>
        <td colspan="5">@valuta.ToString()</td>
    </tr>
    foreach (TrgovanjeMjesec trgovanjeMjesec in Model.TrgovanjeMjesecList.Where(tm => tm.Valuta == valuta))
    {
        <tr>
            @{
                string potraznja = trgovanjeMjesec.Potraznja.HasValue ? trgovanjeMjesec.Potraznja.Value.ToStringInMilions() : "-";
                string ponuda = trgovanjeMjesec.Ponuda.HasValue ? trgovanjeMjesec.Ponuda.Value.ToStringInMilions() : "-";
                string promet = trgovanjeMjesec.Promet.HasValue ? trgovanjeMjesec.Promet.Value.ToStringInMilions() : "-";
                string kamatnaStopa = trgovanjeMjesec.KamatnaStopa.HasValue ? trgovanjeMjesec.KamatnaStopa.Value.ToString("N2") : "-";
            }
            <td>
                @Html.ActionLink(hrCulture.DateTimeFormat.GetMonthName(trgovanjeMjesec.Mjesec), 
                "TrgovanjeMjesec", 
                    new { godina = trgovanjeMjesec.Godina, mjesec = trgovanjeMjesec.Mjesec, valutaEnum = trgovanjeMjesec.Valuta })
            </td>
            <td>
                @valuta.ToString()
            </td>
            <td>
                @promet
            </td>
            <td>
                @kamatnaStopa
            </td>
            <td>@trgovanjeMjesec.Valuta.ToString()</td>
        </tr>
    }
}
</tbody>
</table>