@model NinjaSoftware.TrzisteNovca.Models.Home.IndexViewModel
@using NinjaSoftware.TrzisteNovca.Models.Home

@{
    ViewBag.Title = "Index";
}

<h3>Trgovanje u kunama</h3>

<table>
    <tr>
        <th>Ponuda u mil. kn</th>
        <th>Promjena u %</th>
        <th>Potražnja u mil. kn</th>
        <th>Promjena u %</th>
    </tr>
    <tr>
        <td>@Model.PonudaUMilKn</td>        
        <td>@Model.PonudaPromjenaPosto</td>
        <td>@Model.PotraznjaUMilKn</td>
        <td>@Model.PotraznjaPromjenaPosto</td>
    </tr>
</table>

<table>
    <tr>
        <th>Promet</th>
        <th>u mil. kn</th>
        <th>promjena u %</th>
        <th>kamatna stopa u %</th>
        <th>promjena u %</th>
    </tr>
    @foreach (Promet promet in Model.PrometList)
    { 
    <tr>
        <td>@promet.Naziv</td>
        <td>@promet.PrometUMilKn</td>
        <td>@promet.PrometPromjenaPosto</td>
        <td>@promet.KamatnaStopaPosto</td>
        <td>@promet.KamatnaStopaPromjenaPosto</td>
    </tr>
    }
</table>

<h3>Pozajmice deviza</h3>
<table>
    <tr>
        <th>Valuta</th>
        <th>Promet u mil.</th>
        <th>Kamatna stopa u %</th>
    </tr>
    @foreach (PozajmicaDeviza pozajmica in Model.PozajmicaDevizaList)
    { 
    <tr>
        <td>@pozajmica.Valuta</td>
        <td>@pozajmica.PrometUMil</td>
        <td>@pozajmica.KamatnaStopa</td>
    </tr>
    }
</table>