@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeGodinaViewModel

@{
    string title = string.Format("Trgovanje u {0}. godini.", Model.Godina);
    ViewBag.Title = title;
}

<script type="text/javascript" src="../../Scripts/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.highlighter.min.js"></script>

<link rel="stylesheet" type="text/css" href="../../Scripts/jqplot/jquery.jqplot.min.css" />
<div class="content-header">
<h1>@title</h1>
</div>
<div class="content-box">
Promjeni godinu: @Html.DropDownList("dropDownGodina", Model.GodinaSelectList, new { id = "dropDownGodina" })
<br /><br />
@Html.Partial("_TrgovanjeGodinaKuna", Model)
<br /><br />
@Html.Partial("_TrgovanjeGodinaDevize", Model)

<div id="chart">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        var linePonuda = @Model.ChartLinePonudaDataSource;
        var linePotraznja = @Model.ChartLinePotraznjaDataSource;
        var linePromet = @Model.ChartLinePrometDataSource;

        var plot1 = $.jqplot('chart', [linePonuda, linePotraznja, linePromet], {
            title: 'Trgovanje kunama',
            axes: {
                xaxis: {
                    min: 1,
                    max: 12,
                    tickInterval: 1
                },
                yaxis: {
                    min: 0
                }
            },
            legend: { 
                show: true,
                location: "s",
                placement: "outside",
                labels: ["Ponuda", "Potražnja", "Promet"],
                noColumns: 1
            }
        });

        $("#dropDownGodina").change(function () {
            window.location.href = "@Url.Action("TrgovanjeGodina")" + "?godina=" + this.value;
        });
    });
</script>
</div>